.container {
    composes: box_shadow from global;
    composes: row_center from global;
    height: var(--height-navbar);
    background-color: var(--primary-color);  
    display: grid;
    grid-template-columns: repeat(2,1fr);  
    justify-items: center;
}

.title{
    composes: text from global;
    color: var(--secondary-color);
                                                
}