:root {
  --height-navbar: 50px;
  --height-footer: 40px;
  --primary-color: #feca1b;
  --secondary-color: #263238;
}

.box_shadow {
  -webkit-box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.2);
}

.row_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text{
  font-family: 'Pokemon Solid', sans-serif;
  padding: 0px 20px;
}